@font-face {
    font-family: Inter;
    src: url(../src/font/Inter-VariableFont_opsz\,wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background: #242E49;
    font-family: Inter;
}

.navbar{
    height: 100%;
    padding: 0;
}

.navbar ul{
    list-style: none;
    display: flex;
    margin-bottom: 0;
    height: 100%;
    gap: 25px;
}

.navbar ul li a{
    text-decoration: none;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 25px;
    background: #B4182D;
    border-radius: 50px;
    border: 2px solid #000;
    box-shadow: 3px 3px #000;
    transition: transform .1s ease, box-shadow .1s ease;
}

.navbar ul li a span{
    text-align: center;
    font-weight: bold;
    color: #FFF;
}

.navbar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li a:hover{
    box-shadow: 0 0;
    transform: translateX(3px);
    transform: translateY(3px);
}


header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    border-bottom: 3px solid #000;
    background: #37415c;
}

.logo img{
    height: 50px;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: 
    space-around   ;
    gap: 20px;
    padding: 20px;
}

.tar{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px #000;
    border: 2px solid #000;
    transition: transform .1s ease, box-shadow .1s ease;
}

.tar:hover{
    box-shadow: 0 0;
    transform: translateX(4px);
    transform: translateY(4px);
}

.tar p{
    margin: 0;
}

.tar img{
    border-radius: 7px 7px 0 0;
    height: 256px;
    border-bottom: 2px solid #000;
}

.nomprec{
    display: flex;
    padding: 5px 15px 0;
    justify-content: space-between;
}

.precio{
    color: green;
}

.login-container{
    display: flex;
    height: 75%;
    width: auto;
    gap: 50px;
    margin: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 2px solid #000;
    box-shadow: 3px 3px #000;
    padding: 5px;
    color: #000;
}
.login-container img{
    height: 200px;
}

.inputs{
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
}

.center-text{
    text-align: center;
    margin: auto;
    color: #000;
}

.forminner button{
    width: 50%;
    margin: auto;
    background: #B20808 ;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 50px;
    color: #FFF;
    font-weight: bold;
    box-shadow: 3px 3px #000;
    transition: box-shadow .1s ease, transform .1s ease;
}

.forminner button:hover{
    box-shadow: 0 0;
    transform: translateX(3px);
    transform: translateY(3px);
}

.inputs div{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 5px;
}

.forminner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
}

.inputs div input[type=text], .inputs div input[type=password]{
    border: none;
    border-bottom: 1px solid #000;
}

.inputs div input[type=text]:focus-visible, .inputs div input[type=password]:focus-visible{
    outline: none;
}

.inputs:has(input:focus-visible){
    outline: 2px solid #fff;
    border: 1px solid #000;
    box-shadow: 0 0 0 3px #000;
}

.helptext{
    display: none !important;
}

.forminner p{
    text-align: center;
}

.preorder img{
    width: 100%;
}

.ultimos{
    background: #eff4f2;
    padding: 25px 0;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;
}

.flex a{
    color: #000;
}

.siguenos{
    background: #fff;
    padding: 25px;
    text-align: center;
}

.siguenos a{
    font-size: 30px;
    color: #000;
}